<a href="https://colab.research.google.com/github/erikohara/tcc_eniac/blob/main/MachineLearningMultipleIntelligence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisando perfis dos indivíduos do estudo

In [4]:
import pandas as pd

In [29]:
url_participants = "https://raw.githubusercontent.com/erikohara/tcc_eniac/main/db_a/participants.tsv"
df_participants = pd.read_csv(url_participants, delimiter="\t")

### Retirando colunas que não serão utilizadas e dados de diferentes momentos medidos

In [30]:
df_participants.drop(columns="task",inplace=True)
df_participants.drop(columns="condition",inplace=True)
df_participants.drop(columns="comprehension",inplace=True)
df_participants.age = df_participants.age.str.split(",")
df_participants.age = df_participants.age.str[0]
df_participants.sex = df_participants.sex.str.split(",")
df_participants.sex = df_participants.sex.str[0]

In [31]:
df_participants

    participant_id  age sex
0          sub-001   22   F
1          sub-002   20   M
2          sub-003  NaN   F
3          sub-004   24   M
4          sub-005  n/a   M
..             ...  ...  ..
340        sub-341   21   M
341        sub-342   23   M
342        sub-343   18   F
343        sub-344   18   F
344        sub-345   18   F

[345 rows x 3 columns]