<a href="https://colab.research.google.com/github/erikohara/tcc_eniac/blob/main/MachineLearningMultipleIntelligence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisando perfis dos indivíduos do estudo

In [4]:
import pandas as pd

In [16]:
url_participants = "https://raw.githubusercontent.com/erikohara/tcc_eniac/main/db_a/participants.tsv"
df_participants = pd.read_csv(url_participants, delimiter="\t")
df_participants

    participant_id      age  ...                            condition comprehension
0          sub-001    22,23  ...                              n/a,n/a       n/a,n/a
1          sub-002       20  ...                                  NaN           NaN
2          sub-003      NaN  ...                                  NaN           NaN
3          sub-004    24,24  ...                              n/a,n/a       n/a,n/a
4          sub-005  n/a,n/a  ...                              n/a,n/a       n/a,n/a
..             ...      ...  ...                                  ...           ...
340        sub-341    21,21  ...    intact-longscram,intact-longscram       n/a,n/a
341        sub-342    23,23  ...  intact-shortscram,intact-shortscram       n/a,n/a
342        sub-343    18,18  ...  intact-shortscram,intact-shortscram       n/a,n/a
343        sub-344    18,18  ...    intact-longscram,intact-longscram       n/a,n/a
344        sub-345    18,18  ...  intact-shortscram,intact-shortscram       n/a,n/a

[345 rows x 6 columns]